# Bring in local Habitat config and ensure the studio uses your origin.
HAB_CONFIG=~/.hab/etc/cli.toml
if [ -e "$HAB_CONFIG" ]; then
  export HAB_ORIGIN=$(cat $HAB_CONFIG | grep "origin" | awk '{print $3}' | tr -d '"')
fi

# The `HAB_DOCKER_OPTS` env variable pass additional command line options to the
# docker command, these options will make the studio share the correct ports and
# share the cache for keys and artifacts.
HAB_DOCKER_OPTS="-v $HOME/.hab/cache:/hab/studios/src/hab/cache"

# List of ports we are sharing:
#   => 1234 - service
#   => 9200 - Elasticsearch
#   => 2345 - Delve Server for remote Go debugging
#   => 9631 - Habitat supervisor
ports_to_export=(
  1234
  9200
  2345
  9631
)
for p in "${ports_to_export[@]}"
do
  HAB_DOCKER_OPTS="-p ${p}:${p} ${HAB_DOCKER_OPTS}"
done
export HAB_DOCKER_OPTS
export HAB_UPDATE_STRATEGY_FREQUENCY_MS=1000
export ELASTICSEARCH_URL=http://localhost:9200
